@font-face {
    font-family: VCR;
    src: url(../font/VCR_OSD_MONO_1.001.ttf);
}

html {
    scroll-behavior: smooth;
}
body {
    
    font-family: VCR, sans-serif;
    font-optical-sizing: auto; 
    font-style: normal;
    background-color: black;
    color: rgb(255, 37, 153);
    padding-top: 100px;
}
img{
width: 17%;
}
main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    text-indent: 3%;
}
main nav{
    text-align: center;
    text-indent: 0%;
}
.Header{ /* novo */
    display: flex;
    align-items: center;
    justify-content: space-between;   
    background-color: black;
    opacity: 92%;
    padding: 10px;
    margin-left: 5%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}
nav ul { /* novo */
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a { /* novo */
    color: rgb(255, 37, 153);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
footer{
    padding: 3%;
}
section{
padding: 1%;
}

.logo{
    width: 60%;
    margin-left: 40%;
}
h1{
    text-align: center;
    font-size: 3em;
    padding-bottom: 1%;
}
h2 {
    text-align: center;
    font-size: 2em;
    padding: 1%;
}
table {
    clear: both;
    border-spacing: 1;
    font-size: 1.2em;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    width: 80%;
    padding: 1%;
    overflow-x: auto;
}
th {
    border: 10%;
    text-align: center;
    font-size: 200%;
    padding: 1%;
}
td , th{
    text-align: center;
    border: 10%;
    text-align: center;
    padding: 1%;
}
.titulos {
    text-align: center;
    line-height: 3;
    
}
p {
    font-size: 1.2em;
    line-height: 1.5;
}
li,ul {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5;
    
}
.img {
    text-align: center;
    width: 30%;

}

    
.navbar_link{
    padding-right: 8px;
    color: rgb(255, 37, 153);
    border-width: 3px;
    border-style: solid;
    background-color: none;
    display: inline-block;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    
    
}
a:link{
    color: rgb(255, 37, 153);
}
a:visited{
    color: rgb(255, 37, 153);
}
.linha{
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
}
.col-3{

width: 25%;
}

.col-4 {
    width: 33.33%;
}
.col-9{
    width: 75%;
}

.col-3 p{

    font-size: 1rem;
    text-align: center;
}
.galerias{

    width: 90%;
    margin-left: 1%;
    margin-right: 1%;
}
* {
    box-sizing: border-box;
}
@media only screen and (max-width: 300px) {
    .col-3 {
      width: 24.99999%;
    }
}
@media only screen and (max-width: 700px) {
    .col-3 {
      width: 49.99999%;
    }
}
@media only screen and (max-width:500px) {
    .col-3{
        width: 100%;
    }
}

.esquerda{
    float:left;
    margin-right: 1%;
}
.Container{
    position: relative;
    overflow-x: hidden;
}
.enigma1{
    width: 100%;
    font-size: 1.2vw;
    color: dimgray;
}

.meio{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    opacity: 25%;
}
.meiobaixo{
    position: absolute;
    bottom: 10%;
    font-size: 0.9vw;
    width: 100%;
    text-align: center;
    opacity: 30%;
}
.cimaesquerda{
    position: absolute;
    top: 2%;
    left: 4%;
    text-align: center;
    font-size: 3em;
}

.cimadireita{
    position: absolute;
    top: 2%;
    right: 4%;
    text-align: justify;
    opacity: 50%;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: rgb(255, 37, 153);;
    cursor: pointer;
}
#menu-toggle {
    display: none;
}

nav ul { /* novo */
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1000;
    padding: 0;
}

#menu-toggle:checked + .menu-icon + ul {
    display: flex;
    color: aquamarine;
}

nav ul li {
    text-align: center;
    margin: 0;
}

nav ul li a {
    padding: 15px 0;
}

nav ul li label {
    width: 100%;
    display: block;
}

@media only screen and (max-width: 300px) {
    .col-4 {
      width: 24.99999%;
    }
}
@media only screen and (max-width: 750px) {
    .col-4 {
      width: 49.99999%;
    }
}

@media only screen and (max-width:500px) {
    .col-4{
        width: 100%;
    }
}


/* Media Query para telas menores */
@media (max-width: 800px) {
    .menu-icon {
        display: block;
        padding-right: 10px;
        padding-bottom: 50px;
    }
    
    nav ul {
        display: none; /* Esconde o menu em telas menores */
    }
    
    #menu-toggle:checked + .menu-icon + ul {
        display: flex; /* Mostra o menu em telas menores quando o ícone é clicado */
    }
}

/* Media Query para telas maiores */
@media (min-width: 800px) {
    .menu-icon {
        display: none; /* Esconde o ícone de hambúrguer em telas maiores */
    }
    
    nav ul {
        display: flex; /* Mostra o menu em telas maiores */
        flex-direction: row;
        position: static;
        background-color: transparent;
    }
    
    nav ul li a {
        padding: 10px 15px;
    }
}